.form-group {
  display: flex;
  flex-direction: column;

  .label {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 4px;
    margin-bottom: var(--spacing-8);

    // When Description follows, don't add margin
    &:has(+ .description) {
      margin-bottom: 0;
    }

    .optional {
      margin: 0;
    }
  }

  .caption {
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
    margin-top: var(--spacing-8);

    .icon {
      display: inline-flex;
      flex-shrink: 0;
    }

    &-info {
      color: var(--color-text-on-light-tertiary);
    }

    &-error {
      color: var(--color-text-state-attention-on-light);
    }

    &-success {
      color: var(--color-text-state-success-on-light);
    }
  }

  .description {
    display: block;
    margin-top: var(--spacing-2);
    margin-bottom: var(--spacing-8);
    color: var(--color-text-on-light-secondary);
  }
}