.root {
  width: 100%;
}

.swiper {
  width: 100%;
}

.slide {
  width: auto;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 20px;
}

.controls {
  position: absolute;
  right: 0;
  display: flex;
  gap: 8px;
}

.navButton {
  border: 1px solid var(--color-border-secondary);
}

.dots {
  display: flex;
  gap: 6px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ccc;
  border: none;
  cursor: pointer;
}

.dotActive {
  background: #000;
}