.inline-image {
  /* Button backgrounds */
  --overlay-button-bg: rgba(34, 34, 34, 0.3);
  --overlay-button-bg-hover: rgba(34, 34, 34, 0.5);

  $md: 768px;
  $lg: 1160px;

  $standard-full-mobile: 390px;
  $standard-full-tablet: 728px;
  $standard-full-desktop: 712px;

  $standard-inline-mobile: 358px;
  $standard-inline-tablet: 528px;
  $standard-inline-desktop: 528px;

  $immersive-large-mobile: 390px;
  $immersive-large-tablet: 720px;
  $immersive-large-desktop: 1080px;

  $immersive-medium-mobile: 390px;
  $immersive-medium-tablet: 728px;
  $immersive-medium-desktop: 712px;

  $immersive-inline-max-mobile: 350px;
  $immersive-inline-max-tablet: 528px;
  $immersive-inline-max-desktop: 528px;

  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);

  &.variant-standard {
    &.size-full,
    &.size-large,
    &.size-medium {
      max-width: $standard-full-mobile;

      @media (min-width: var(--breakpoint-medium-min)) {
        max-width: $standard-full-tablet;
      }

      @media (min-width: var(--breakpoint-large-min)) {
        max-width: $standard-full-desktop;
      }
    }

    &.size-inline {
      max-width: $standard-inline-mobile;

      @media (min-width: var(--breakpoint-medium-min)) {
        max-width: $standard-inline-tablet;
      }

      @media (min-width: var(--breakpoint-large-min)) {
        max-width: $standard-inline-desktop;
      }
    }
  }

  &.variant-immersive {
    &.size-full {
      width: 100%;
      max-width: none;
    }

    &.size-large {
      max-width: $immersive-large-mobile;

      @media (min-width: var(--breakpoint-medium-min)) {
        max-width: $immersive-large-tablet;
      }

      @media (min-width: var(--breakpoint-large-min)) {
        max-width: $immersive-large-desktop;
      }
    }

    &.size-medium {
      max-width: $immersive-medium-mobile;

      @media (min-width: var(--breakpoint-medium-min)) {
        max-width: $immersive-medium-tablet;
      }

      @media (min-width: var(--breakpoint-large-min)) {
        max-width: $immersive-medium-desktop;
      }
    }

    &.size-inline {
      max-width: $immersive-inline-max-mobile;

      @media (min-width: var(--breakpoint-medium-min)) {
        max-width: $immersive-inline-max-tablet;
      }

      @media (min-width: var(--breakpoint-large-min)) {
        max-width: $immersive-inline-max-desktop;
      }
    }
  }
}

.image-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: var(--semantic-inline-image-border-radius);
  aspect-ratio: var(--semantic-inline-image-aspect-ratio);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.caption-text {
  color: var(--color-text-on-light-secondary);
}
