.container {
    display: flex;
    position: relative;
    width: 100vh;
    height: auto;
}

.candyBar {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100vh;
    height: auto;
    color: #fff;

    background: var(--color-background-brand);
  }
  

  .closeButton {
    position: absolute;
    align-items: flex-start;
    justify-content: flex-end;
    display: flex;
    justify-content: flex-end;
    border: 0;
    background: transparent;
    cursor: pointer;
    padding: 0;
  }