.expand-button {
  $md: 768px;

  position: absolute;
  right: var(--spacing-16);
  top: var(--spacing-16);
  background: var(--overlay-button-bg);
  border-radius: 50%;
  width: var(--spacing-button-md);
  height: var(--spacing-button-md);
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus-visible {
    background: var(--color-overlay-black-subtle);
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
  }

  @media (max-width: $md) {
    width: var(--spacing-button-sm);
    height: var(--spacing-button-sm);
  }
}

.expand-icon {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    height: 100%;
    width: 100%;
  }
}
