.pull-quote {
  $lg: 1160px;
  $md: 768px;

  * {
    margin: 0;
  }

  display: flex;
  gap: var(--spacing-8);
  max-width: var(--semantic-pull-quote-max-width);

  @media (min-width: $md) {
    gap: var(--spacing-8);
  }

  .quote-icon-wrapper {
    flex-shrink: 0;

    &.size-small {
      width: var(--semantic-pull-quote-icon-small-mobile-width);
      height: var(--semantic-pull-quote-icon-small-mobile-height);

      @media (min-width: 768px) {
        width: var(--semantic-pull-quote-icon-small-tablet-width);
        height: var(--semantic-pull-quote-icon-small-tablet-height);
      }

      @media (min-width: 1160px) {
        width: var(--semantic-pull-quote-icon-small-desktop-width);
        height: var(--semantic-pull-quote-icon-small-desktop-height);
      }
    }

    &.size-large {
      width: var(--semantic-pull-quote-icon-large-mobile-width);
      height: var(--semantic-pull-quote-icon-large-mobile-height);

      @media (min-width: 768px) {
        width: var(--semantic-pull-quote-icon-large-tablet-width);
        height: var(--semantic-pull-quote-icon-large-tablet-height);
      }

      @media (min-width: 1160px) {
        width: var(--semantic-pull-quote-icon-large-desktop-width);
        height: var(--semantic-pull-quote-icon-large-desktop-height);
      }
    }

    .quote-icon {
      color: var(--semantic-pull-quote-accent-color) !important;
      margin-top: -3.5px;
      margin-left: 0;
      width: 100% !important;
      height: 100% !important;
    }
  }

  &.variant-standard {
    .quote-icon-wrapper {
      margin-left: 0 !important;
    }
  }

  &.variant-immersive {
    .quote-icon-wrapper {
      &.size-small {
        @media (min-width: $lg) {
          margin-left: calc(
            -1 * (var(--spaceing-8) + var(--semantic-pull-quote-icon-small-desktop-width))
          );
        }
      }

      &.size-large {
        @media (min-width: $lg) {
          margin-left: calc(
            -1 * (var(--spacing-8) + var(--semantic-pull-quote-icon-large-desktop-width))
          );
        }
      }
    }
  }

  .pull-quote-wrapper {
    display: flex;
    flex-direction: column;
    word-break: break-word;
    gap: var(--spacing-20);
  }

  .caption {
    padding-top: var(--spacing-8);
    border-top: 1px solid var(--color-border-on-light-strong-02);
    width: max-content;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);

    .job-title {
      color: var(--color-text-on-light-tertiary);
    }
  }
}
