name: Component Tests

on:
  workflow_call:
  pull_request:
    branches: [main, 'release/**']

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true  # Cancel old runs when new commits pushed

jobs:
  tests:
    name: Run component tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Configure Node environment
        uses: ./.github/actions/configure-workflow-node-environment

      - name: Run unit tests with coverage
        env:
          VITEST_JUNIT_OUTPUT: ./reports/unit-junit.xml
        run: yarn test:coverage -- --exclude "**/*.a11y.test.tsx"

      - name: Upload unit test coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: MinneapolisStarTribune/design-system
          flags: unit
          verbose: true
        if: always()

      - name: Upload unit test results
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
        if: always()

      - name: Unit Test Report
        uses: dorny/test-reporter@v2
        if: always()
        with:
          name: "Unit Test Report"
          path: "reports/unit-junit.xml"
          reporter: "java-junit"
          fail-on-error: true

      - name: Run a11y tests with coverage
        env:
          VITEST_JUNIT_OUTPUT: ./reports/a11y-junit.xml
        run: yarn test:a11y --coverage

      - name: Upload a11y test coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: MinneapolisStarTribune/design-system
          flags: a11y
          verbose: true
        if: always()

      - name: Upload a11y test results
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
        if: always()

      - name: A11y Test Report
        uses: dorny/test-reporter@v2
        if: always()
        with:
          name: "Accessibility Test Report"
          path: "reports/a11y-junit.xml"
          reporter: "java-junit"
          fail-on-error: true
