name: Lint

on:
  workflow_call:
  pull_request:
    branches: [main]

jobs:
  lint:
    name: Run linters
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configure Node environment
        uses: ./.github/actions/configure-workflow-node-environment
      - name: Run ESLint
        run: yarn lint
      - name: Check formatting
        run: yarn format:check
      - name: Type check
        run: yarn typecheck
